.cats {
  display: grid;
  padding: 48px 62px 48px;

  grid-template-columns: repeat(5, 1fr);
  gap: 48px;

  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
}

.more-cats {
  width: auto;
  padding: 0 62px 31px;
  margin: 0 auto;

  text-align: center;
}

@media screen and (width <= 1024px) {
  .cats {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (width <= 768px) {
  .cats {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width <= 576px) {
  .cats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width <= 445px) {
  .cats {
    grid-template-columns: repeat(1, 1fr);
  }
}
